<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">JapanPage</a>
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>
           
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
<!--             <button class="btn danger" type="submit">Sign in</button> -->
            <li class="btn danger" type="submit"><%= link_to "Sign in", signin_path %></li>
            <li class="btn success" type="submit"><%= link_to "Sign up", signup_path %></li>
          </form>
          <!-- <%= form_for(:session, :url => sessions_path,:class => "pull-right") do |f| %>
          <div class="input-small">
			<%= f.email_field :email %>
		  </div>
		  <div class="input-small">
  	     	<%= f.password_field :password  %>
  	      </div>
  			<%= f.submit "Sign in" , :class=>"btn danger" %>
          <% end %> -->
           
        </div>
      </div>
    </div>